{% extends 'core/base.html' %}

{% block content %}


{% if projects %}

<div class="row">
    <div class="col-md-12">
        <h2>Projects</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Point of Contact</th>
                <th>Status</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{{ project.get_absolute_url }}">{{ project.code }}</a></td>
                <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                <td>{{ project.point_of_contact }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.updated }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

{% endif %}

{% endblock %}