{% extends 'core/base.html' %}

{% load render_table from django_tables2 %}

{% block content %}


<h2 class="mt-5"><strong>{{ project.code }}</strong> - {{ project.name }} {% if project.status == 'Active' %} <span class="badge badge-primary">Active</span>{% endif %}</h2>
<p><strong>Admin:</strong> <a href="mailto:{{ project.point_of_contact.email }}">{{ project.point_of_contact.username }}</a></p>

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <div class="row">
        <div class="col-md-6">
            <!-- General Log Entries -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Comments</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <!-- Table in a card body -->
                    <table class="table">
                        <tr>
                        <td>
                            <p><strong>User</strong><br />11/30/19 @ 11:00</p>
                        </td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                        <tr>
                        <td>11/31/19</td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                        <tr>
                        <td>11/32/19</td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.logentries -->
            
        </div>
        <div class="col-md-6">
            <!-- Followups -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Followups</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td colspan="2" class="card-text">
                                
                                <!-- Removed followups as it's own entity. Will use Tasks -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Tasks -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Active Tasks</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#newTaskModal">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Tasks Display -->
                    <ul>
                    {% for task in project.active_tasks %}
                        <li>{{ task.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- New Task Modal -->
<div class="modal" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newTaskModalLabel">New Task for {{ project.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- New Task Form -->
            <form action="{% url 'project_task_create' project.code %}" method="post">
                {% csrf_token %}
                {% for field in task_form %}
                    <div class="div create_form_field">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><input type="submit" class="btn btn-primary" value="Create Task">
            </form>
        </div>
        <div class="modal-footer">

            <!--
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Task</button>
            -->
        </div>
      </div>
    </div>
  </div>


{% endblock %}