{% extends 'core/base.html' %}

{% load render_table from django_tables2 %}

{% block content %}


<h2 class="mt-5"><strong>{{ project.code }}</strong> - {{ project.name }} {% if project.status == 'Active' %} <span class="badge badge-primary">Active</span>{% endif %}</h2>
<p><strong>Admin:</strong> <a href="mailto:{{ project.point_of_contact.email }}">{{ project.point_of_contact.username }}</a></p>


    <div class="row">
        <div class="col-md-6">
            <!-- General Log Entries -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Comments</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <!-- Table in a card body -->
                    <table class="table">
                        <tr>
                        <td>
                            <p><strong>User</strong><br />11/30/19 @ 11:00</p>
                        </td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                        <tr>
                        <td>11/31/19</td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                        <tr>
                        <td>11/32/19</td>
                        <td>This is an example log entry yay.</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.logentries -->
            
        </div>
        <div class="col-md-6">
            <!-- Followups -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Followups</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td colspan="2" class="card-text">
                                
                                <!-- Removed followups as it's own entity. Will use Tasks -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Tasks -->
            <div class="card mb-3">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="w-75">Tasks</h5>
                        </div>
                        <div class="col-md-2 float-right">
                            <a href="#" class="btn btn-dark btn-sm float-right">+</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Card Body
                </div>
            </div>
        </div>
    </div>


{% endblock %}